@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CineHitss.Pelicula
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>Peliculas</title>
    <style>
        .rowpelicula {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
            padding: 10px;
        }

            .rowpelicula > div {
                border: 1px solid black;
                text-align: center;
                font-size: 30px;
                background-color: lightseagreen;
            }
    </style>
</head>

<body>
    <div class="rowpelicula">
        <div>
            <link rel="stylesheet" href="menu_modulos.css">
            <h1>CineHitss Estelar</h1>
            <img src="@Url.Content("~/Images/" + ViewBag.MId + ".jpg" )" style="width:320px;height:540px;border:0;">
        </div>
        <div>
            <h1>@Model.Nombre</h1>
            <p>Genero: @ViewBag.Gen</p>
            <p>Clasificacion: @Model.Clasification</p>
            <p>Duracion: @Model.Duracion</p>
            <p>Costo por Boleto: @Model.Costo</p>
            <h2>Resumen: </h2>
            <p>@Model.Sinopsis</p>
        </div>
    </div>

    <FORM name="Comprabtn" action="" method="POST">
        <div class="rowpelicula">
            <INPUT type="submit" value="Comprar" class="btn btn-danger" style="height: 80px">
        </div>
    </FORM>
</body>
</html>


