@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CineHitss.Pelicula>


<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        .rowpelicula {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
            padding: 10px;
        }

            .rowpelicula > div {
                border: 1px solid black;
                text-align: center;
                font-size: 30px;
                background-color: cadetblue;
            }

        .row {
            display: grid;
            grid-template-areas: 'header header header header header header' 'menu main main main main right' 'menu footer footer footer footer footer';
            grid-gap: 10px;
            padding: 10px;
        }

        .column1 {
            grid-area: right;
            background-color: skyblue;
            grid-area: right;
            text-align: center;
            padding: 20px 0;
        }

        .column2 {
            grid-area: main;
        }
    </style>
</head>
<body>
    <h1>Cine hitss</h1>

    <br />
    <div class="row">
        <div class="column1">
            <form  action="~/Filtros/Filtros" method="post">
                <h2> Estado</h2>
                <p>
                    <select name="Estado" id="Estado" required>
                        <option value="Select">Selecciona un Estado</option>
                    </select>
                </p>

                <h2> Ciudad</h2>
                <p>
                    <select name="ciudad" id="ciudad" disabled required>
                        <option value="Select">Selecciona un Estado</option>
                    </select>
                </p>

                <h2> Cine</h2>
                <p>
                    <select name="cine" id="cine" disabled required>
                        <option value="Select">Selecciona un Estado</option>
                    </select>
                </p>

                <h2> Genero</h2>
                <p>
                    <select name="genero" id="genero">
                        <option value="Select">Selecciona un Estado</option>
                    </select>
                </p>

                <input type="submit" class="btn btn-danger" name="Btn_Filtrar" id="Btn_Filtrar"
                       value="Aplicar" disabled/>
            </form>
        </div>

        <div class="column2">
            @using (Html.BeginForm("Filtros", "Filtros"))
            {
                <div class="rowpelicula">
                    @if (ViewBag.Existep)
                    {
                        foreach (Pelicula p in Model)
                        {
                    <div>
                        <h2>@p.Nombre</h2> <br />
                        @if (ViewBag.Filtrado)
                        {
                            <img src="@Url.Content("~/Images/" + p.id + ".jpg" )" style="width:160px;height:270px;border:0;" id="@p.id" onClick="imgclick()">
                        }
                        else
                        {
                            <img src="@Url.Content("~/Images/" + p.id + ".jpg" )" style="width:160px;height:270px;border:0;">
                        }

                    </div>
                        }
                    }
                </div>
            }
        </div>

    </div>

    <script>
        $(document).ready(function () {

            $.ajax({
             url: "@Url.Action("GetEstados")",
             type: "POST",
             contentType: "application/json",
             success: function (results) {
                var s = '<option value="-1">Seleccione un estado</option>';
                for (var i = 0; i < results.length; i++) {
                    s += '<option value="' + results[i] + '">' + results[i] + '</option>';
                 }
                 $()
                $("#Estado").html(s);
             },
             error: function (e) {
                alert("Algo fallo en su peticion");
             }
             });


            $("#Estado").change(function () {
                var EstadoSelec = $(this).children("option:selected").val();
                $.ajax({
                    url: '/Filtros/GetCiudades/?Estado=' + EstadoSelec,
                    type: "POST",
                    contentType: "application/json",
                    success: function (results) {
                        var s = '<option value="-1">Seleccione una ciudad</option>';
                    for (var i = 0; i < results.length; i++) {
                        s += '<option value="' + results[i] + '">' + results[i] + '</option>';
                        }
                        $("#ciudad").attr("disabled", false);
                        $("#ciudad").html(s);
                    },
                    error: function (e) {
                        alert("Algo fallo en su peticion");
                    }
                    });
            });

            $("#ciudad").change(function () {
                var CiudadSelec = $(this).children("option:selected").val();
                $.ajax({
                    url: '/Filtros/GetCine/?_Ciudad=' + CiudadSelec,
                    type: "POST",
                    contentType: "application/json",
                    success: function (results) {
                        var s = '<option value="-1">Seleccione un cine</option>';
                        for (var i = 0; i < results.length; i++) {
                            s += '<option value="' + results[i] + '">' + results[i] + '</option>';
                        }
                        $("#cine").attr("disabled", false);
                        $("#cine").html(s);
                    },
                    error: function (e) {
                        alert("Algo fallo en su peticion");
                    }
                });
            });

            $("#cine").change(function () {
                var CiudadSelec = $(this).children("option:selected").val();
                $.ajax({
                    url: '/Filtros/GetGeneros/?_cine=' + CiudadSelec,
                    type: "POST",
                    contentType: "application/json",
                    success: function (results) {
                        var s = '<option value="-1">Seleccione un cine</option>';
                        for (var i = 0; i < results.length; i++) {
                            s += '<option value="' + results[i] + '">' + results[i] + '</option>';
                        }
                        $("#genero").attr("disabled", false);
                        $("#Btn_Filtrar").attr("disabled", false);
                        $("#genero").html(s);
                    },
                    error: function (e) {
                        alert("Algo fallo en su peticion");
                    }
                });
            });

            
        });

        function imgclick() {
            alert(this.id);
        }
    </script>

</body>
</html>